@use '../abstracts/variables' as *;

.footer {
  width: 100%;
  height: 40px;
  background: url('../header_bk.png') center center / cover;
}

.footer-year {
  color: $clr-light;
}

.footer-link {
  cursor: pointer;

  font-size: 18px;
  font-weight: 500;
  color: $clr-light;
  text-decoration: none;
  letter-spacing: 0.05rem;

  transition: 0.5s ease-out;

  &:hover {
    text-shadow: 2px 3px 2px $clr-main;
  }
}
