@use '../abstracts/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.main-wrapper {
  flex-direction: column;
}
